
body {
    margin: 0px;
    background-color: #f0f0f0;
}

* {
    box-sizing: border-box;
}

input {
    outline: 0;
}

div.dropdown button {
    outline: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

.prds h5 {
    color: black;
}

.prds b {
    color: #b10000;
}

.prds p {
    color: #8e8e8e;
    margin: 2px 0px;
}

.prds {
    padding: 15px 10px;
}

.prds div.col-xs-12 {
    margin: 15px 0px 0px 0px;
}

.prds div.col-xs-12 .buy-btn {
    width: 101px;
    margin: auto;
}

.prds div.col-xs-12 .buy-btn button {
    color: #4CAF50;
    border: solid 1px #4CAF50;
}

.prds div.col-xs-12 .buy-btn button:hover {
    color: white;
    border: solid 1px #4CAF50;
    background-color: #4CAF50;
}
/* Nút hiển thị thêm sản phẩm */
div.more-products-btn {
    margin: auto;
    width: 193px;
}

div.more-products-btn button {
    color: #288ad6;
}

div.more-products-btn button:hover {
    color: white;
    background-color: #DBD521;
    border: 1px solid #DBD521;
}

/* ---------- Header ---------- */
.box-header {
    margin-bottom: 0px;
}

.box-header .header .right-btn {
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    width: 100px;
    padding: 3px;
    margin: 3px;
    border: solid 1px white;
}

.box-header .header {
    padding-top: 8px;
    padding-bottom: 8px;
}

.box-header {
    background-color: #4CAF50;
    border-radius: 0px;
}

#shopping-cart-for-small-screen {
    display: none;
}

.box-header .header div button {
    height: 44px;
    border: none;
}

.box-header .header div input {
    height: 44px;
    border: none;
}

.box-header .header div input {
    border-radius: 3px 0px 0px 3px;
    border-right: 0px;
}

.box-header .header div button {
    border-radius: 0px 3px 3px 0px;
    background-color: #DBD521;
}

.box-header .header #shopping-cart-for-small-screen span {
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
}

/* ---------- Menu ---------- */
.box-menu {
    border-radius: 0px;
    background-color: #DBD521;
    border: none;
    margin-bottom: 0px;
}

.box-menu .menu a.menu-button {
    text-decoration: none;
    color: #777;
    top: 50%;
    transform: translateY(-50%);
}

.box-menu .menu a.menu-button:hover {
    color: black;
}

.box-menu .menu div {
    padding: 15px;
}

.box-menu .menu a.menu-button {
    top: 50%;
    transform: translateY(-50%);
}

#box-option-for-phone-btn, #box-option-for-accessories-btn {
    display: none;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    z-index: 2;
    box-shadow: 0px 2px 12px 0px #a7a7a7;
    border-radius: 3px;
}

.box-menu-option .menu-option li {
    list-style: none;
}

.box-menu-option .menu-option a {
    text-decoration: none;
    color: black;
}

    .box-menu-option .menu-option a:hover {
        color: blue;
    }

.box-menu-option .menu-option .middle-div {
    border-left: solid 1px #e3e3e3;
    border-right: solid 1px #e3e3e3;
}

.box-menu-option .menu-option ul {
    padding: 0px;
    list-style: none;
}

.box-menu-option .menu-option b {
    margin-bottom: 15px;
}

.box-menu-option .menu-option .left-div {
    padding: 0px;
}

.box-menu-option .menu-option .middle-div {
    padding: 0px;
}

.box-menu-option .menu-option .right-div {
    padding: 0px;
}

    .box-menu-option .menu-option .right-div img {
        margin-right: 15px;
        width: 80px;
        height: 80px;
    }

    .box-menu-option .menu-option .right-div .best-seller b {
        color: red;
        font-size: 17px;
    }

#box-option-for-accessories-btn .right-div {
    border-left: solid 1px #e3e3e3;
}

/* ----- Slide show ----- */
.box-slide {
    margin-top: 15px;
}

.box-slide .slide-show {
    padding: 0px;
}

.box-slide .slide-show .carousel div.item img {
    width: 100%;
}

/* ----- Home products ----- */
.box-home-products {
    margin-bottom: 15px;
    margin-top: 15px;
}

.box-home-products .new-sale-off-products {
    background-color: white;
    border-radius: 3px;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 15px;
}

.box-home-products .new-phone {
    background-color: white;
    border-radius: 3px;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 15px;
}

.box-home-products .new-accessories {
    background-color: white;
    border-radius: 3px;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 15px;
}

.box-home-products .top-div h4 {
    padding: 0px;
}

.box-home-products .top-div a.float-right {
    text-align: right;
    text-decoration: none;
    padding: 8px 0px;
}

.box-home-products .top-div a.float-left {
    text-align: center;
    text-decoration: none;
    padding: 8px;
    height: 36px;
    margin: 0px 10px;
}

.box-home-products .top-div a.float-left:hover {
    border-radius: 20px;
    color: black;
    background-color: #e4e4e4;
}

/* ----- Phone products ----- */
.phone-products {
    margin-bottom: 15px;
}

.phone-products .phone-companies a {
    padding: 4px;
}

.phone-products .filter p {
    padding: 8px;
    margin: 0px;
    text-decoration: none;
}

.phone-products .filter a {
    padding: 8px;
    margin: 0px;
    text-decoration: none;
}

.phone-products .filter div {
    padding: 8px;
    margin: 0px;
    text-decoration: none;
    padding-left: 30px;
}

.phone-products .filter button {
    border: none;
    background-color: white;
    padding: 0px;
    height: 20px;
}

.phone-products .phone-companies {
    padding: 0px 15px;
    border-radius: 3px;
    background-color: white;
    margin: 16px 0px 8px 0px;
}

.phone-products .filter {
    padding: 0px 15px;
    border-radius: 3px;
    background-color: white;
    margin: 8px 0px;
}

.phone-products .box-products {
    padding: 0px 15px;
    border-radius: 3px;
    background-color: white;
    margin: 8px 0px;
}

.phone-products .box-products .top-div {
    padding: 8px 15px;
}

.phone-products .box-products .middle-div {
    padding-right: 15px;
    padding-left: 15px;
}

.phone-products .box-products .top-div h4 {
    padding-right: 0px;
    padding-left: 0px;
}

.phone-products .box-products .bottom-div {
    margin: 15px 0px;
    padding-right: 15px;
    padding-left: 15px;
}


/* ----- Accessories products ----- */
.accessories-products .accessories-types {
    background-color: white;
    border-radius: 3px;
}

.accessories-products .filter {
    background-color: white;
    border-radius: 3px;
}

.accessories-products .box-products {
    background-color: white;
    border-radius: 3px;
}

.accessories-products .accessories-types a img {
    padding: 0px;
}

.accessories-products .accessories-types a p {
    padding: 0px;
    text-align: center;
    color: black;
}

.accessories-products .accessories-types a p:hover {
    color: blue;
}

.accessories-products .accessories-types {
    margin: 16px 0px 8px 0px;
}

#acc-type-for-small-screen {
    display: none;
}

#acc-type-for-small-screen a {
    text-decoration: none;
    color: black;
    padding: 8px;
    background-color: #e4e4e4;
    margin: 8px;
    border-radius: 20px;
}

/* ----- Shopping cart ----- */
.shopping-cart {
    margin-top: 15px;
    margin-bottom: 15px;
}

.shopping-cart div.shopping-prds, div.total-price, div.shipping-prds, div.bought-prds, div.recommended-prds {
    background-color: white;
    border-radius: 3px;
    padding: 15px 15px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.shopping-cart .shopping-prds p, img {
    padding: 0px;
    text-align: center;
}

.shopping-cart .shopping-prds img {
    padding: 0px;
}

.shopping-cart .bought-prds p, img {
    padding: 0px;
    text-align: center;
}

.shopping-cart .bought-prds img {
    padding: 0px;
}

.shopping-cart .shipping-prds p, img {
    padding: 0px;
    text-align: center;
}

.shopping-cart .shipping-prds img {
    padding: 0px;
}

.shopping-cart .title {
    border-bottom: 1px solid #ded9d9;
}

.shopping-cart .prds-detail {
    margin: 6px 0px;
}

.shopping-cart .prds-detail div {
    padding: 0px;
    height: 100%;
}

.shopping-cart .prds-detail p {
    margin: 15px 0px;
}

.shopping-cart .shopping-prds .total-price span {
    margin: 0px 3px;
    top: 50%;
    transform: translateY(50%);
}

.shopping-cart .shopping-prds .total-price button {
    margin: 0px 15px;
    color: white;
    border: solid 1px #5eb761;
    background-color: #5eb761;
}

.shopping-cart .shopping-prds .total-price button:hover {
    background-color: #4CAF50;
}


/* ----- Products detail ----- */
.prds-detail {
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: white;
    border-radius: 3px;
}

.prds-comment {
    background-color: white;
    border-radius: 3px;
}

.prds-detail .left.carousel-control {
    background-image: none;
}

.prds-detail .right.carousel-control {
    background-image: none;
}

.prds-detail .left.carousel-control .glyphicon {
    color: black;
}

.prds-detail .right.carousel-control .glyphicon {
    color: black;
}

.prds-detail .prds-specification div.col-xs-12 {
    border-bottom: solid 1px #eee;
    margin: 4px 0px;
}

.prds-detail .prds-specification div.col-xs-12 p {
    padding: 0px;
}

.prds-detail .add-buy-btn {
    margin: 30px 0px;
}

.prds-detail .add-buy-btn div {
    margin: 8px 0px;
}

.prds-detail .add-buy-btn button {
    margin: auto;
    padding: 15px;
    font-weight: bold;
}

.prds-detail .add-buy-btn .buying-btn {
    border: solid 1px #4CAF50;
    color: white;
    background-color: #4CAF50;
}

.prds-detail .add-buy-btn .adding-btn {
    border: solid 1px #DBD521;
    color: white;
    background-color: #DBD521;
}

.comment-input-area .comment-input-form textarea {
    border-radius: 3px 3px 0px 0px;
}

    .comment-input-area .comment-input-form textarea:focus {
        outline: 0;
    }

.comment-input-area .comment-input-form div {
    padding: 6px;
    border: solid 1px rgb(169, 169, 169);
    border-top: 0px;
    border-radius: 0px 0px 3px 3px;
}

.comment-input-area .comment-input-form button {
    border-radius: 3px;
    background-color: #288ad6;
    border: none;
    padding: 5px;
    color: white;
}

.comment-input-area, .list-comment, .comment, .comment-content {
    padding: 0px;
}

.list-comment .comment {
    margin: 10px 0px;
}

.list-comment .comment .user-comment .avatar-user {
    height: 21px;
    width: 21px;
    background-color: #ddd;
    margin: 0px 10px 0px 0px;
    text-align: center;
    font-size: 16px;
}

.list-comment .comment .user-comment .name-user {
    font-size: 16px;
    margin-right: 15px;
}

.list-comment .comment .content p {
    margin: 6px 0px;
}

.list-comment .comment .reply-comment-btn {
    color: blue;
    margin-right: 15px;
}

.list-comment .comment .reply-comment-btn:hover {
    cursor: pointer;
}

.list-comment .comment .box-reply-content {
    padding: 0px 15px 0px 30px;
}

.list-comment .comment .box-reply-content .reply-content {
    border: solid 1px rgb(169, 169, 169);
    border-radius: 3px;
    background-color: #f0f0f0;
    margin: 10px 0px;
    padding: 10px 0px;
}

.list-comment .comment .user-comment p.admin {
    padding: 3px;
    background-color: green;
    margin: 0px;
    color: white;
    font-size: 11px;
}


/* ----- Searching result ----- */
.searching-result {
    margin-top: 15px;
    margin-bottom: 15px;
}

.searching-result .filter {
    border-radius: 3px;
    background-color: white;
    margin-right: 10px;
    padding: 0px;
}

.searching-result .result {
    border-radius: 3px;
    background-color: white;
    margin-left: 10px;
    padding: 0px;
}

.searching-result .left-div {
    padding: 0px;
}

.searching-result .right-div {
    padding: 0px;
}

.searching-result .left-div .filter .filter-option {
    border-bottom: solid 1px #eee;
    padding: 0px;
}

.searching-result .left-div .filter .filter-option span.glyphicon {
    margin: 10px 0px;
    color: #bdbdbd;
}

.searching-result .left-div .filter .filter-option span.glyphicon:hover {
    cursor: pointer;
}

/* ----- Footer ----- */
.box-footer {
    background-color: white;
}

.box-footer .footer div h3 {
    text-align: center;
    width: 100%;
}

.box-footer .footer div p {
    text-align: center;
    width: 100%;
}

/* ----- Đăng nhập, đăng ký ----- */
.logIn-with-fb-gg span {
    font-size: 24px;
    color: white;
    text-align: center;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(25%);
}

.logIn-with-fb-gg a div {
    width: 50px;
    height: 50px;
    margin: 20px 10px;
    border-radius: 50%;
    display: inline-block;
}

.logIn-with-fb-gg div.fb {
    background-color: #3b5998;
}

.logIn-with-fb-gg div.gg {
    background-color: #ea4335;
}

.logIn-with-fb-gg a div:hover {
    background-color: black;
}

.box-logIn-signIn {
    width: 500px;
    padding: 70px 55px;
    background-color: white;
    border-radius: 10px;
    margin: 20px auto;
}

.box-logIn-signIn .title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.box-logIn-signIn .form div {
    border-bottom: solid 2px #b9b9b9;
    margin-bottom: 15px;
    padding: 10px 0px;
    font-size: 20px;
}

.box-logIn-signIn .form input {
    border: none;
    width: 364px;
    padding: 5px;
}

.box-logIn-signIn .form input:focus {
    outline: 0;
}

.box-logIn-signIn .form span {
    color: #b9b9b9;
    width: 20px;
    padding: 5px 0px;
}

.box-logIn-signIn .form button {
    font-size: 20px;
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 15px;
    background-color: #955af2;
    color: white;
    margin: 10px 0px;
}

.box-logIn-signIn .form button:focus {
    outline: 0;
}

.box-logIn-signIn .form button:hover {
    background-color: #46109a;
}

.box-logIn-signIn .form p.float-right {
    margin: 10px 0px;
    font-size: 17px;
    cursor: pointer;
}

.box-logIn-signIn .form p.float-right:hover {
    color: #955af2;
}

/* ----- Thanh toán mua hàng ----- */
.payment-box {
    background-color: white;
    border-radius: 3px;
    margin: 15px auto;
    width: 700px;
}

.payment-box .header-title {
    text-align: center;
    width: 100%;
}

.payment-box .header-title h4 {
    margin: 15px 0px;
}

.payment-box .payment-products {
    border-top: solid 0.7px #d6d6d6;
    border-bottom: solid 0.7px #d6d6d6;
    padding: 10px 15px;
}

.payment-box .customer-info {
    padding: 10px 0px;
}

.payment-box .payment-products .detail .prd-info .info span {
    padding: 0px;
    color: #8e8e8e;
}

.payment-box .payment-products .detail .prd-info p {
    margin: 0px;
    padding: 0px;
}

.payment-box .payment-products .detail .prd-info b {
    margin: 0px 0px 10px 0px;
    color: black;
}

.payment-box .payment-products .detail .prd-info .color select {
    padding: 5px;
    border-radius: 3px;
    border: solid 1px #bfbfbf;
}

.payment-box .payment-products .detail .prd-info .color select:focus {
    outline: 0;
}

.payment-box .payment-products .detail .prd-info .amount div {
    padding: 5px 13px;
    border: solid 1px #bfbfbf;
}

.payment-box .customer-info .user-info {
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 10px;
    margin: 10px 0px;
}

.payment-box .customer-info .add-info {
    color: #288ad6;
    cursor: pointer;
}

#city-list, #district-list {
    margin: 0px;
    position: absolute;
    margin: 0px;
    z-index: 2;
    background-color: #f0f0f0;
    height: 170px;
    overflow: auto;
    display: none;
}

.payment-box .pay-area button {
    border: none;
    padding: 15px;
    border-radius: 3px;
    font-weight: bold;
    color: white;
}

p.error-input-info {
    font-size: 13px;
    padding: 0px;
    margin: 0px;
    color: #dd4b39;
    display: none;
}



/* -------------------- Mobile screen -------------------- */
@media screen and (max-width:768px) {
    /* ----- Phần header ----- */
    #shopping-cart-for-small-screen {
        display: block;
    }

    #shopping-cart-for-large-screen {
        display: none;
    }

    .box-header .header form {
        padding-top: 8px;
    }

    /* ----- Products ----- */
    .undisplay-for-small-screen {
        display: none;
    }

    /* ----- Accessories products ----- */
    #acc-type-for-small-screen {
        display: block;
    }

    #acc-type-for-large-screen {
        display: none;
    }


    /* ----- Searching result ----- */
    .searching-result .filter {
        margin: 0px;
    }

    .searching-result .result {
        margin: 0px;
    }

    .searching-result .right-div .result {
        margin-top: 15px;
    }

    /* ----- Home products ----- */
    .box-home-products .top-div a.float-left {
        display: none;
    }

    /* ----- Thanh toán mua hàng ----- */
    .payment-box {
        width: 100%;
    }
}


strike {
    color: #8e8e8e;
}
.btnFacebook { 
    width: 180px;
    height:35px;  
    border-radius: 4px;
    background: #3b5998;
    color:white;
    border:0px transparent;  
    text-align: center;
    margin:5px;
    display: inline-block;
  }
  .btnGoogle { 
    margin:5px;
    width: 180px;
    height:35px;
    border-radius: 4px;
    background: #db3236;
    color:white;
    border:0px transparent;
    text-align: center;
    float: right;
    font-size: 25px;
  }
  .btnFacebook:hover {
    background: #3b5998;
    opacity: 0.6;
  }
  .btnGoogle:hover {
    background: #db3236;
    opacity: 0.6;
  }